.main {
  width: 100%;
  height: 100vh;
  background: #f6f5f5 url("../../assets/countdown/countdown-background.png") no-repeat center center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  .countdown-img {
    width: 60%;
  }
  // 进出动画
  .scale-fade-enter-active {
    transition: all .6s;
  }
 .scale-fade-leave-active {
   transition: all .2s;
 }
  .scale-fade-enter {
    transform: scale(.3);
    opacity: 0;
  }
  .scale-fade-leave-to {
    opacity: 0;
  }
}
