.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .header {
    width: 100%;
    height: 36vw;
    background: url("../../assets/quiz-background.png") no-repeat center center;
    background-size: 100% 100%;
  }
  .background{
    margin-top: -68px;
    width: 0;
    height: 0;
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
    border-bottom: 40px solid #fff;
  }
  .clock {
    margin-top: -38px;
    width: 68px;
    height: 68px;
    box-sizing: border-box;
    border: 6px solid #fff;
  }
  .animation {
    display: block;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
  }
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
  .circle {
    animation: dash .9s ease-in-out;
  }
  .line {
    stroke-dashoffset: 1000;
    animation: dash .9s .35s ease-in-out forwards;
  }
  .check {
    stroke-dashoffset: -100;
    animation: dash-check .9s .35s ease-in-out forwards;
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  // 题目
  .question {
    margin: 30px 10% 10px;
    text-align: center;
    color: #444;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
  // 选项
  .options {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    // 选项进入效果
    .slide-enter-active {
      &:nth-child(2) {
        transition-delay: .1s;
      }
      &:nth-child(3) {
        transition-delay: .2s;
      }
      &:nth-child(4) {
        transition-delay: .3s;
      }
      &:nth-child(5) {
        transition-delay: .4s;
      }
    }
    .slide-leave-active {
      &:nth-child(2) {
        transition-delay: .1s;
      }
      &:nth-child(3) {
        transition-delay: .2s;
      }
      &:nth-child(4) {
        transition-delay: .3s;
      }
      &:nth-child(5) {
        transition-delay: .4s;
      }
    }
  }
  // 题目进入动画
  .slide-enter-active {
    transition: all .8s;
  }
  .slide-leave-active {
    transition: all .6s;
  }
  .slide-enter {
    transform: translateX(100vw);
  }
  .slide-leave-to {
    transform: translateX(-100vw);
  }
  .bottom-bar {
    position: absolute;
    bottom: 24px;
  }
}
