.animation {
  transform: translateY(-100%);
  transition: all 1s;
}
.scroll-message {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  line-height: 1;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
  }
}
