.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .4s;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(50%);
  opacity: 0;
}
.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  .modal {
    position: absolute;
    left: 6%;
    bottom: 20px;
    width: 88%;
    background-color: #fff;
    border-radius: 6px;
  }
}
