.begin-btn {
  margin: 7px 0 13px;
  width: 150px;
  height: 32px;
  position: relative;
  border-style: none;
  background-color: #fff;
  outline: none;
  .border {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 30px;
    border: .11em solid #00152c;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    &:nth-child(1) {
      top: 4px;
      background-color: #4866f1;
    }
    &:nth-child(2) {
      top: 0;
      background-color: #fff;
    }
  }
}
