.main {
  width: 100%;
  height: 69vh;
  background: url("../../assets/background.png") no-repeat center center;
  background-size: 100% 100%;
  padding-top: 31vh;
  // 音乐按钮
  .music {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  // 头部按钮
  .head-btn {
    position: absolute;
    top: 24vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 12px;
    padding: 4px 10px;
    height: 24px;
    font-size: 12px;
    outline: none;
  }
  .rank-list {
    left: 30%;
    background-color: #f9d74a;
    .icon {
      width: 6px;
      height: 16px;
    }
  }
  .invite-code {
    right: 25%;
    background-color: #e5f0fa;
  }
  // 信息栏
  .info-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 88%;
    height: 400px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    // 头像
    .avatar {
      margin: 16px 0 2px;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
    }
    // 剩余游戏次数和奖金
    .text-info {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .title {
        font-size: 12px;
        color: #333;
      }
      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16px;
        line-height: 16px;
        .icon {
          margin-top: -1px;
          width: 6px;
          height: 16px;
        }
      }
      div:nth-child(2) {
        width: 1px;
        height: 1em;
        background-color: #eee;
      }
      a {
        text-decoration: none;
        color: #000;
      }
    }
    // 普通模式按钮
    .normal-btn {
      .begin {
        width: 16px;
        height: 16px;
        margin-right: 16px;
      }
    }
    // 练习模式按钮
    .practice-btn {
      .text {
        font-size: 12px;
      }
    }
    // 限时答题按钮
    .activity-btn {
      /deep/ .border {
        width: 90%;
        padding: 0 5%;
        justify-content: space-around;
        color: #eee;
      }
      .activity-img {
        height: 100%;
      }
      .activity-intro {
        display: flex;
        flex-direction: column;
        line-height: 15px;
        font-size: .7em;
      }
    }
    // 限时答题活动预告
    .trailer {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      /*justify-content: center;*/
      .title {
        font-size: 12px;
        color: #444;
      }
      .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        div {
          margin: 0 16px;
          width: 1px;
          height: 16px;
          background-color: #eee;
        }
        p {
          margin: 10px 0;
        }
      }
    }
    // 分割线
    .divider {
      position: absolute;
      bottom: 32px;
      width: 88%;
      height: 1px;
      background-color: #eee;
    }
    // 滚动消息
    .message {
      position: absolute;
      bottom: 0;
      height: 32px;
      font-size: 12px;
    }
  }
  // 游戏规则
  .help {
    margin-top: 30px;
    width: 100%;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    .help-icon {
      height: 14px;
      margin-top: -1px;
    }
    a {
      color: #fff;
    }
  }
}
// 模糊
.blur {
  filter: blur(4px);
  .mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
  }
}
